<section class="py-5">
    <h1 class="display-4">
        Thanks for visiting!
    </h1>
    <hr>
    <p class="lead">If you like the project please don't forget to give it a star.</p>
    <hr>
    <a href="/" class="btn btn-primary btn-lg">go home</a>
    <a href="/about" class="btn btn-primary btn-lg">go to about page</a>
</section>