<div class="py-5">
    <h1 class="display-4">Your order was Placed!</h1>
    <p class="lead">Order Details</p>
    <ul class="lead">
        <li>payerID: {{ details.payerID }}</li>
        <li>token: {{ details.token }}</li>
    </ul>
</div>